.cart {
  position: relative;

  & > *:not(img) {
    @include navIcon;
  }

  &__form {
    display: none;
  }

  &__customerInfo {
    display: none;
  }

  &:hover .cart__form,
  .cart__form & > *:hover {
    @include flexin(center, flex-end, column);
  }
}
