// HOME
@keyframes headerSpan {
  0% {
    opacity: 0;
    transform: inherit;
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(0);
  }
}
@keyframes homeSpan {
  0% {
    transform: scaleX(0) translateX(20%);
    opacity: 0;
  }
  100% {
    transform: scaleX(1) translateX(0);
    opacity: 1;
  }
}

@keyframes homeShadow {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 .25rem 7.5rem 2.5rem var(--color-red-primary);
  }
}

@keyframes tablesRow {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
