@keyframes sectionGlowBottom {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 .25rem 7.5rem 2.5rem var(--color-red-primary);
  }
}
@keyframes sectionGlowTop {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 -.25rem 7.5rem 2.5rem var(--color-red-primary);
  }
}

// HOME
@keyframes headerSpan {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(0);
  }
}
@keyframes spanGrow {
  0% {
    transform: scaleX(0) translateX(100%);
    opacity: 0;
  }
  100% {
    transform: scaleX(1) translateX(0);
    opacity: 1;
  }
}

// REVIEW COLUMNS
@keyframes scrollReviewUp {
  100% {
    transform: translateY(100%);
  }
}

// DATES
@keyframes dates__shows {
  0% {
    transform: translateY(100%) rotateY(90deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}
