*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
  position: relative;
  padding: 0 2.5vw;
  background-image: linear-gradient(to right bottom, #ff0000, #db1518, #b62022, #902627, #6b2828);
  color: var(--main-grey);
}
