.header {

  &__logo {
    @include latoWhite;
    text-transform: uppercase;
    font-size: var(--fs-logo);
    text-align: right;
    letter-spacing: .5rem;
  }
}

.home {

  &__heading__primary,
  &__heading__secondary {
    @include latoWhite(300);
  }

  &__heading__primary {
    font-size: 5rem;
    letter-spacing: .5rem;
  }

  &__heading__secondary {
    font-size: 5rem;
    letter-spacing: 1.25rem;
  }
}
