@font-face {
  font-family: 'tribbon';
  src: url('img/fonts/tribbon-b.ttf');
  src: url('tribbon-b.otf');
}


.home {

  &__header {
    font-size: 10rem;
    font-family: 'Dancing Script';
    text-transform: uppercase;
  }

  &__cta {
    @include plainText;
  }
}
