.home {

  &__heading {

    &__primary {
      font-size: 5rem;
      letter-spacing: var(--ls-heading-primary);
    }

    &__secondary {
      font-size: 7.5rem;
    }
  }

  &__text {
    font-size: 2rem;
  }
}
