
// LAYOUT
@mixin flexin($content:center, $align:center, $direction:row, $align-content:space-evenly) {
  display: flex;
  justify-content: $content;
  align-items: $align;
  flex-direction: $direction;
  align-content: $align-content;
}

@mixin sectionGlow($placement) {
  z-index: 2;
  @if $placement == top {
    animation: var(--animation-duration) ease-in-out forwards sectionGlowTop;
    border-top: 1px solid white;
  } @else if $placement == bottom {
    animation: var(--animation-duration) ease-in-out forwards sectionGlowBottom;
    border-bottom: 1px solid white;
  }
}

// TYPOGRAPHY
@mixin plainText {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}
@mixin latoWhite($weight: 100) {
  color: var(--color-white);
  font-weight: $weight;
  font-family: 'Lato';
}

