
// LAYOUT
@mixin flexin($content:center, $align:center, $direction:row) {
  display: flex;
  justify-content: $content;
  align-items: $align;
  flex-direction: $direction;
}

// ELEMENTS
@mixin picFit($height:auto, $width:100%, $objFit:cover) {
  height: $height;
  width: $width;
  object-fit: $objFit;
}


//ANIMATIONS
@mixin hoverSwell {
  transition: var(--transition-swell);
  &:hover {
    transform: scale(1.105);
  }
}
  // NAV
@mixin navIcon {
  display: none;
  transform: scale(1);
  position: absolute;
  top: 100%;
}

