
// LAYOUT
@mixin flexin($content:center, $align:center, $direction:row) {
  display: flex;
  justify-content: $content;
  align-items: $align;
  flex-direction: $direction;
}

// TYPOGRAPHY
@mixin plainText {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}
@mixin alignText($align:center) {
  text-align: $align;
}

// NAV
@mixin navIcon {
  display: none;
  transform: scale(1);
  position: absolute;
  top: 100%;
}

// IMAGES
@mixin picFit($objFit:contain, $height:auto, $width:100%) {
  height: $height;
  width: $width;
  object-fit: $objFit;
}
@mixin picBox {
  height: auto;
  width: 100%;
}

// ANIMATIONS
@mixin hoverSwell {
  transition: var(--transition-swell);
  &:hover {
    transform: scale(1.105);
  }
}

