:root {
  //ANIMATIONS
  --animation-duration: 3.5s;

  // HEADER
  --padding-header-v: 1vh;
  --padding-header-h: 2vh;

  --header-height: calc(var(--fs-logo) + (var(--padding-header-v) * 2));

  // HOME
  --padding-home-top: 30vh;
  --span-box-height: 5px;
  --span-element-height: 1px;

  // COLORS
  --color-black: #000;
  --color-white: #fff;

  --color-red-primary: red;

  // TYPOGRAPHY
  --fs-logo: 2rem;

  --ls-heading-primary: .75rem;


  //NAV

  // ANIMATIONS
  --transition-swell: transform .2s ease-in-out;
}
