:root {
  // LAYOUT
  --padding-header-v: 1.5vh;
  --padding-header-h: 2vh;
  --padding-standard: 2.5vh 2.5vw;
  --padding-li: 1vh 1vw;
  --padding-icon: 1vh 1vw;

  --margin-figcaption: 2vh;

  // COLORS
  --color-black: #000;
  --color-white: #fff;

  --color-red-primary: red;

  // TYPOGRAPHY
  --fs-logo: 2rem;

  --ls-heading-primary: .75rem;


  //NAV

  // ANIMATIONS
  --transition-swell: transform .2s ease-in-out;
}
