:root {
  // LAYOUT
  --border-radius: 5px;
  --border-height: 90%;
  --border-width: 90%;
  --border-indent: 2%;
  --padding-standard: 2.5vh 2.5vw;

  // COLORS


  //NAV

  // ANIMATIONS
  --transition-swell: transform .2s ease-in-out;
}
