.section {
  padding: 0 0 calc(var(--padding-section-header-v) * 2) 0;

  &__header {
    padding: var(--padding-section-header-v) var(--padding-section-header-h);
    position: relative;
    @include flexin;

    &::before,
    &::after {
      content: '';
      display: block;
      height: 1px;
      width: 40%;
      background-color: var(--color-red-primary);
      position: absolute;
      animation: var(--animation-duration-sectionHeader) ease-in-out forwards spanGrow;
    }

    &::before {
      top: 25%;
      left: 15%;
      transform-origin: 100%;

      @include respond(five) {
        top: 17.75%;
      }
    }

    &::after {
      bottom: 25%;
      right: 15%;

      @include respond(five) {
        bottom: 17.75%;
      }
    }

    @include respond(fourteen) {
      padding: calc(var(--padding-section-header-v) * 2) var(--padding-section-header-h);
    }
    @include respond(six) {
      text-align: center;
    }
  }
}
