-
  const form = {
    address: [
      { id: 'firstName', type: 'text', placeholder: 'First Name' },
      { id: 'lastName', type: 'text', placeholder: 'Last Name' },
      { id: 'email', type: 'email', placeholder: 'Email Address' },
      { id: 'phone', type: 'number', placeholder: 'Phone #' },
      { id: 'address', type: 'text', placeholder: 'Street Address' },
      { id: 'city', type: 'text', placeholder: 'City' },
      { id: 'province', type: 'text', placeholder: 'Province/State' },
      { id: 'Country', type: 'text', placeholder: 'Country' }
    ],
    billing: [
      { id: 'creditCardNumber', type: 'number', placeholder: 'Credit Card #' },
      { id: 'cvv', type: 'number', placeholder: 'CVV' },
      { id: 'creditCardName', type: 'text', placeholder: 'Name on Credit Card' }
    ]
  }

h1 form working
