include ../components/mixins

-
  const socialIcons = [
      { path: 'img/svg/facebook.svg', alt: 'Hidden Eras Facebook', class: 'icon social__icon' },
      { path: 'img/svg/instagram.svg', alt: 'Hidden Eras Instagram', class: 'icon social__icon' },
      { path: 'img/svg/youtube.svg', alt: 'Hidden Eras Youtube', class: 'icon social__icon' },
      { path: 'img/svg/snapchat.svg', alt: 'Hidden Eras Snapchat', class: 'icon social__icon' }
  ]

+socialMedia(socialIcons)
