doctype html
html(lang="en")
  include layout/head
  body
    header.header
      include layout/header
    main.main
      include layout/home
      include layout/dates
      include layout/aboutUs
      include layout/cart
    footer.footer
      include layout/footer

//-   mixin headerSpan(array)
//-     each i in array
//-       span i

//-     header
//-       .header__logo
//-       .header__icons.social__icons
//-       nav.header__nav

//-     main.main

//-       section.home

//-         .home__headers
//-           .home__heading__top
//-             h2.home__heading__primary
//-               +headerspan(home.headingPrimary)
//-           .home__span
//-             span
//-           .home__heading__bottom
//-             h2.home__heading__secondary
//-               +headerSpan(home.headingSecondary)
//-         .home__links

//-         .home__botb
//-           figure.home__award
//-             img(src=`${home.award.path}` alt=`${home.award.alt}` class='home__award__pic')
//-             figcaption.home__award__figcaption
//-               h6.home__award__caption 2 time BCHS Battle of The Bands Runner-Up
