doctype html
html(lang="en")
  head
    include layout/head
  body
    header.header
      include layout/header
    main.main
      include layout/home
      include layout/dates
      include layout/aboutUs
      include layout/cart
    footer.footer
      include layout/footer


