.border {
  position: absolute;

  &__left {
    background-image: linear-gradient(#ecf0f1, darken(#ecf0f1, 10%));
    top: var(--border-indent);
    left: 0;
    width: 1px;
    height: var(--border-height);
  }

  &__top {
    background-image: linear-gradient(#ecf0f1, darken(#ecf0f1, 10%));
    top: 0;
    right: var(--border-indent);
    height: 1px;
    width: var(--border-width);
  }

  &__right {
    background-image: linear-gradient(#ecf0f1, darken(#ecf0f1, 10%));
    bottom: var(--border-indent);
    right: 0;
    width: 1px;
    height: var(--border-height);
  }

  &__bottom {
    background-image: linear-gradient(#ecf0f1, darken(#ecf0f1, 10%));
    bottom: 0;
    left: var(--border-indent);
    height: 1px;
    width: var(--border-width);
  }
}
