button {
  border: none;
  background: none;
  color: inherit;
  font-family: inherit;
}

.dates__table__cta {
  text-transform: uppercase;
  cursor: pointer;
  padding: inherit;
  font-size: inherit;
}
