.player {
  @include flexin;
  position: relative;
  margin-left: auto;
  margin-right: 1.5vw;
  cursor: pointer;

  &__svg {
    width: 3rem;
    height: 3rem;
    fill: var(--color-white);
  }

  &:hover &__iframe {
    visibility: visible;
    top: 110%;
    opacity: 1;
  }

  &__iframe {
    @include redOutline;
    visibility: hidden;
    position: absolute;
    transform-origin: top;
    top: -100%;
    right: 0;
    opacity: 0;
    transition: all .5s ease-in-out;
    height: 40vh;
  }
}
