.review {
  @include flexin(center, center, row, nowrap);
  min-height: var(--review-height);
  padding: 0 5vw;
  animation: calc(var(--animation-duration) / 2) ease-out scrollReviewUp;

  &__media {
    height: 100%;
    width: auto;

    &__logo {
      height: auto;
      width: 100%;
    }
  }
}

@for $i from 1 through 5 {
  .review__star:nth-child(#{$i}) {
    animation-delay: calc(var(--animation-delay) / #{$i})
  }
}
