.review {
  @include flexin(center, center);
  flex: 1 1 auto;

  &__imgs {
    @include flexin(center, center, column);
  }

  &__logo {
    object-fit: cover;
  }
  &__rating {
    flex: 1.5 1 auto;
    @include flexin(space-around);
  }

  &:not(:first-child) {
    display: none;
  }
}
