.review {
  @include flexin(space-evenly, center, row, nowrap);
  min-height: var(--review-height);
  max-height: var(--review-height);
  padding: 0 5vw;
  transition: all 3.25s ease-in-out;

  &__logo {
    height: 100%;
    width: 50%;
    margin-right: 1vw;
  }
  &__star {
    width: 3.5rem;
    fill: white;
  }
}
