.aboutUs {
  @include flexin(center, center, column);

  &__heading {
    margin: 5vh 0;
    align-self: flex-start;
    text-align: left;
  }

  &__memberIcons {
    @include flexin;
    flex: 1 1 auto;
    flex-wrap: wrap;
  }

  &__figure {
    flex: 1 1 auto;
    @include flexin(center, center, column);
    padding: 1.5vh 0 0 0;
    cursor: pointer;

    &:hover .aboutUs__caption {
      transform: translateY(0);
      opacity: 1;
    }
    &:hover .aboutUs__img {
      transform: scale(1.1);
    }
  }

  &__img {
    object-fit: cover;
    height: 10vh;
    width: 10vh;
    transition: all .4s ease-out;

  }

  &__caption {
    margin-top: 1.5vh;
    transform: translateY(500%);
    opacity: 0;
    transition: all .4s ease-out;
  }

  &__memberInfo {
    flex: 1 1 auto;
    padding: 1vh 2.5vw;
  }

  &__member {
    flex: 1;
    @include flexin(center, space-between, column);
  }

  &__member__header {
    @include flexin(space-between, flex-start);
  }

  &__member__img {
    height: 15vh;
    width: 15vh;
    object-fit: cover;
  }

  &__member__name {
    margin: 2.5vh 5vw;
  }

  &__member__caption {
    margin-top: 2.5vh;
    text-align: left;
  }

  &__member__laughLine {
    margin-left: 10vw;
  }

  &__member:not(:first-child) {
    display: none;
  }
}
