.aboutUs {
  @include sectionGlow(top);
  @include bgImg(var(--bg-img-aboutUs));
  padding: 0 5vh;

  &__members {
    @include flexin;
  }

  &__member {
    @include redOutline;
    @include flexin(center, center, column);
    max-width: 30vh;
    overflow: hidden;
  }

  &__media {
    position: relative;
    height: 35vh;
    width: 30vh;
  }

  &__pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }

  &__name,
  &__instrument {
    position: absolute;
    border: 1px solid var(--color-red-primary);
    background: rgba(0,0,0,.75);
    padding: 1vh;
  }

  &__name {
    left: 2.5vh;
    top: 2.5vh;
  }

  &__instrument {
    right: 2.5vh;
    bottom: 5vh;
  }

  &__caption {
    background-color: rgba(255, 255, 255, .4);
    margin-top: -5.25vh;
  }

  &__brands {
    @include flexin(center, flex-end, column, nowrap);
    height: 35vh;
    width: 30vh;

    & img {
      height: 50%;
      width: 100%;
    }
  }
}
