.cart {
  background-image: linear-gradient(to right bottom, rgba(21, 21, 21, 1), lighten(rgba(21, 21, 21, 1), 5%));

  &__body {
    @include flexin;
  }
}

.form {
  @include flexin(center, center, row, nowrap);
  @include redOutline;
  height: 75vh;
  width: 75vw;
  overflow: hidden;

  &__splash,
  &__customerInfo,
  &__billing,
  &__finalize,
  &__success {
    height: 100%;
    width: 100%;
    flex: 0 0 100%;
    padding: 1vh 2vw;
    position: relative;
  }

  &__backButton,
  &__nextButton {
    position: absolute;
    transform-origin: 100%;
    right: 2vw;
  }

  &__backButton {
    top: 2vw;
  }
  &__nextButton {
    bottom: 2vw;
  }

  &__label,
  &__customerInfo,
  &__billing,
  &__finalize,
  &__success {
    @include flexin(space-evenly, flex-start, column, nowrap);
  }

  &__label {
    position: relative;
    margin-left: 2vw;

    &::before {
      content: '';
      display: block;
      position: absolute;
      height: 60%;
      width: 1px;
      top: 20%;
      left: -2vw;
      background-color: var(--color-white);
    }
  }

  &__input {
    transform: translateX(25%);
    margin-top: 1vh;
    background: none;
    border: none;
    border-bottom: 1px solid var(--color-red-primary);
  }

  $startingTranslate: 200%;
  & > * {
    transform: translateX($startingTranslate);
  }

  &__splash {
    @include flexin(space-evenly, center, column);
    height: 100%;
    width: 100%;
  }

  &__customerInfo {
    @include formBackground(var(--cart-bg-custInfo));
  }
  &__billing {
    @include formBackground(var(--cart-bg-billing));
  }
}
