.dates {
  background-image: linear-gradient(to right bottom, rgba(21, 21, 21, 1), lighten(rgba(21, 21, 21, 1), 5%));

  &__table {
    text-align: center;
    width: calc(100% - 2.5vw);
    border-spacing: 3vh;

    & th,
    td {
      padding: .25vh;
      transform-style: preserve-3d;
    }

    &__row {
      overflow: hidden;
      transform: translateY(100%);
      opacity: 0;
      animation: var(--animation-duration) ease-in-out forwards tablesRow;
    }

    &__btn {
      border: 1px solid white;
    }
  }

  &__collage {
    padding: 2.5vw;
    position: relative;
    height: 60rem;
  }

  &__img {
    position: absolute;
    transform: scale(.8);
    object-fit: cover;
    border: 1px solid var(--color-white);
    cursor: pointer;
    transition: all .5s ease-in-out;
    outline-offset: .5vh;
    z-index: 1;

    &:hover {
      outline: 1rem solid var(--color-red-primary);
      z-index: 2;
      transform: scale(.95);
    }
  }
}

$imgTops: 10% 45% 5% 35% 40% 20%;
$imgLefts: 30% 25% 5% 50% 7.50% 60%;

@for $position from 1 through length($imgTops) {
  .dates__img:nth-child(#{$position}) {
    top: nth($imgTops, $position);
    left: nth($imgLefts, $position);
  }
}

$rotateRow: -45deg -30deg -15deg 0deg 15deg 30deg 45deg 60deg;

@for $rotation from 1 through length($rotateRow) {
  .dates__table__row:nth-child(#{$rotation}) {
    transform: rotateY(nth($rotateRow, $rotation));
    animation-delay: calc(var(--animation-duration) / #{$rotation});
  }
}
