.dates {
  background-image: linear-gradient(to right bottom, rgba(21, 21, 21, 1), lighten(rgba(21, 21, 21, 1), 5%));

  &__table {
    text-align: center;
    width: calc(100% - 2.5vw);
    margin-bottom: 5vh;

    & th,
    td {
      padding: .5vh;
    }
  }

  &__collage {
    padding: 2.5vw;
    border: 1px solid white;
    position: relative;
    height: 60rem;
  }

  &__img {
    position: absolute;
    transform: scale(.9);
  }
}

$imgTops: 0% 20% 0% 20% 0% 20%;
$imgLefts: 0% 20% 0% 20% 0% 20%;

@for $position from 1 through length($imgTops) {
  .dates__img:nth-child(#{$position}) {
    top: nth($imgTops, $position);
    left: nth($imgLefts, $position);
  }
}
