.header {
  @include flexin(space-between);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid white;
  background-color: var(--color-black);
  padding: var(--padding-header-v) var(--padding-header-h);
}
