.home {
  padding: 2vh 0;
  @include flexin(center, center);

  &__figure {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-evenly;
  }

  &__pic {
    flex: 1 1 50%;
    object-fit: cover;
    perspective: 100rem;
    filter: drop-shadow(0 1rem 1rem black);
  }

  &__caption {
    flex: 1 1 50%;
    @include flexin(center, center, column);
  }

  &__header {
    flex: 1 0 25%;
    @include flexin(center, center);
  }

  &__tag {
    flex: 1 0 25%;
    @include flexin(center, center);
  }

  &__links {
    flex: 1 1 50%;
    @include flexin(center, center, column);
  }
}
