.home {
  margin: 10vh 0;

  &__hero {
    @include flexin;
  }

  &__heroImg {
    flex: 1 1 auto;
  }

  &__showcase {
    @include picFit;
  }

  &__caption {
    @include flexin(center, center, column);
    flex: 1 1 auto;
  }

  &__header {
    flex: 1 1 33.33333%;
    margin: 1vh 0;
  }

  &__tag {
    flex: 1 1 33.33333%;
    margin: 1vh 0;
  }

  &__links {
    @include flexin(space-around, center);
    flex: 0 0 33.33333%;
  }

  &__link {
    @include flexin(center, center, column);
    flex: 1 1 auto;
  }

  &__picBox {
    flex: 0 0 75%;
  }

  &__linkPic {
    @include picFit;
  }

  &__linkCaption {
    flex: 0 0 25%;
  }

  &__btn {
    flex: 1 1 auto;
  }

  &__botb {
    @include flexin (space-around);
    padding: 2vh 5vw;
  }

  &__awardsLeft,
  &__awardsRight {
    @include flexin(center, center, column);
    max-height: 10vh;
    max-width: 5vw;
    display: none;
  }
}
