.home {
  @include flexin(center, center, column);
  @include sectionGlow(bottom);
  @include bgImg(var(--bg-img-home));
  padding-top: calc(var(--header-height) + var(--padding-home-top));
  border-bottom: 1px solid white;

  &__heading {
    text-align: center;
    padding: 1.5vh;

    &__primary,
    &__secondary {
      @include flexin(space-evenly);
      overflow: hidden;
    }
  }

  &__span {
    height: var(--span-box-height);
    margin: 1.5vh 0;
    @include flexin;
    overflow: hidden;

    &__element {
      height: 1px;
      width: 90%;
      background-color: var(--color-red-primary);
      transform-origin: 100%;
      animation: var(--animation-duration) ease-in-out forwards spanGrow;
    }
  }

  &__award {
    margin: 5vh 0;

    &__figure {
      @include flexin;
    }

    &__media,
    &__caption {
      @include flexin;
    }
  }

  &__reviews {
    @include flexin(space-evenly);
    margin-bottom: 7.5vh;
    overflow: hidden;
    width: 100%;

    &__col {
      @include flexin(center, center, column, nowrap);
      flex: 1;
      height: var(--review-height);
    }

    &__col > * {
      transform: translateY(300%);
    }
  }
}

$headerSpanDelay: .125s;

@mixin homeText($xOffset, $yOffset) {
  transform: translateX($xOffset) translateY($yOffset);
  opacity: 0;
}

@for $span from 1 through 19 {
  .home__heading__primary span:nth-child(#{$span}) {
    padding: 1rem;
    animation: calc(var(--animation-duration) / 2) ease-in-out forwards headerSpan;
    animation-delay: calc(#{$headerSpanDelay} * #{$span});
    @include homeText(0, -100%)
  }
}

@for $span from 1 through 4 {
  .home__heading__secondary span:nth-child(#{$span}) {
    @include homeText(0, 100%);
    animation: calc(var(--animation-duration) / 2) ease-in-out forwards headerSpan;
    animation-delay: calc((#{$headerSpanDelay} * #{$span}) * 4.75);
  }
}
