.nav {
  flex: .5 1 auto;

  &__list {
    display: flex;
  }

  &__item {
    flex: 1 1 auto;
    list-style-type: none;
    text-align: right;
  }

  &__link {
    flex: 1 1 auto;
    cursor: pointer;
    padding: .5vh .75vw;
    border: 1px solid black;
  }
}
