.nav {
  @include flexin(space-evenly, center, column);
  position: relative;
  flex: 0 0 5vw;
  cursor: pointer;
  padding: 1.5vh 1.5vh;
  border: 1px solid red;

  &__span {
    background-color: var(--color-red-primary);
    height: 2px;
    width: 3rem;
    transition: var(--transition-swell);

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  &__ul {
    position: absolute;
    top: calc(100% + var(--padding-header-v));
    right: 0;
    display: none;
  }
}

.nav:hover .nav__ul,
.nav__ul:hover {
  @include flexin(flex-end, center, column);
}
