.nav {
  @include flexin(space-evenly, center, column);
  position: relative;
  flex: 0 0 5vw;
  cursor: pointer;
  padding: 1.5vh 1.5vh;
  z-index: 9999;

  &__span {
    background-color: var(--color-red-primary);
    height: 2px;
    width: 3rem;

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  &__ul {
    position: absolute;
    top: 100%;
    right: 0;
    padding: var(--padding-header-v);
    @include flexin(space-between, center, column);
    transform: scaleY(0);
    transform-origin: top;
    transition: all 1s ease-in-out;
  }

  &__item {
    padding: 1vh;
    margin: .5vh;
    border: 1px solid var(--color-white);
    transform: rotateY(90deg) opacity(0);
    perspective: 100rem;
    transform-origin: 100%;
    transform-style: preserve-3d;
  }
}


.nav:hover .nav__ul {
  transform: scaleY(1);
}
$navLiDelay: .1s;

@for $navLi from 1 through 4 {
  .nav:hover .nav__item:nth-child(#{$navLi}) {
    transition: all 1s ease-in-out calc(#{$navLi} * #{$navLiDelay});
    // transform: rotateY(0deg) opacity(1);
  }
}
