include ../components/mixins

-
  const aboutUs = {
    members: [
      { name: 'Patrick McLennan', img: 'img/aboutUs/pat.jpg', instrument: 'Lead Guitar', equipment: ['img/aboutUs/epiphone.png', 'img/aboutUs/marshall.png'] },
      { name: 'Tom Duff', img: 'img/aboutUs/tom.jpg', instrument: 'Drums', equipment: ['img/aboutUs/pearl.png'] },
      { name: 'John Duff', img: 'img/aboutUs/john.jpg', instrument: 'Guitar + Van', equipment: ['img/aboutUs/godin.png', 'img/aboutUs/fender.png'] },
      { name: 'Blake Hutton', img: 'img/aboutUs/blake.jpg', instrument: 'Bass', equipment: ['img/aboutUs/musicMan.png', 'img/aboutUs/ampeg.png'] },
      { name: 'Marc Decaire', img: 'img/aboutUs/marc.jpeg', instrument: 'Vocals', equipment: [] }
    ]
  }


section.aboutUs
  +sectionHeading('#aboutUs', "Meet the band")

  .aboutUs__members
    each member in aboutUs.members
      figure.aboutUs__member
        .aboutUs__media
          img.aboutUs__pic(src= member.img alt= member.name)
          h4.aboutUs__name= member.name
          h6.aboutUs__instrument= member.instrument
        .aboutUs__caption
            each img in member.equipment
              img(src= img)
