include ../components/mixins

-
  const aboutUs = {
    members: [
      { name: 'Patrick McLennan', img: 'img/aboutUs/pat.jpg', instrument: 'Lead Guitar', equipment: ['img/aboutUs/epiphone.png', 'img/aboutUs/marshall.png'] },
      { name: 'Tom Duff', img: 'img/aboutUs/tom.jpg', instrument: 'Drums', equipment: ['img/aboutUs/pearl.png'] },
      { name: 'John Duff', img: 'img/aboutUs/john.jpg', instrument: 'Guitar + Van', equipment: ['img/aboutUs/godin.png', 'img/aboutUs/fender.png'] },
      { name: 'Blake Hutton', img: 'img/aboutUs/blake.jpg', instrument: 'Bass', equipment: ['img/aboutUs/musicMan.png', 'img/aboutUs/ampeg.png'] },
      { name: 'Marc Decaire', img: 'img/aboutUs/marc.jpeg', instrument: 'Vocals', equipment: [] }
    ]
  }

- const { members } = aboutUs

section.aboutUs
  +sectionHeading('#aboutUs', "We haven't aged a day")

  .aboutUs__memberIcons
    each figure in members
      figure.aboutUs__figure
        .aboutUs__figure__media
          img(src= figure.img alt= figure.name class="aboutUs__figure__img")
        figcaption.aboutUs__figure__caption
          h6.aboutUs__caption__text= figure.name

  .aboutUs__memberInfo
    each member in members
      figure.aboutUs__member
        .aboutUs__member__header
          img.aboutUs__member__img(src= member.img alt= member.name)
          h5.aboutUs__member__name= member.name
        figcaption.aboutUs__member__caption
          h6.aboutUs__member__instrument= member.instrument
        .aboutUs__member__equipment
          if member.equipment.length >= 1
            each img in member.equipment
              img.aboutUs__member__brand(src= member.equipment[img])
