-
  const dates = {
    collage: [
      { path: 'img/dates/group1.jpg', alt: 'Hidden Era Group Shot' },
      { path: 'img/dates/group2.jpg', alt: 'Hidden Era Group Shot' },
      { path: 'img/dates/group3.jpg', alt: 'Hidden Era Group Shot' },
      { path: 'img/dates/group4.jpg', alt: 'Hidden Era Group Shot' },
      { path: 'img/dates/group5.jpg', alt: 'Hidden Era Group Shot' },
      { path: 'img/dates/group6.jpg', alt: 'Hidden Era Group Shot' }
    ],
  }

include ../components/listingsTable
h1 dates working
