include ../components/mixins

-
  const footer = {
    legal: {
      copyright: 'All work, pictures, music and videos are copyright Hidden Era 2018.  Any unauthorized use or reproduction is a terrible idea.',
      management: 'Hidden Era is managed by Jake Rivers Media Consulting, Inc.'
    },
    logo: {
      links: [
        { site: "https://github.com/PatrickMcLennan", path: 'github', alt: 'Patrick McLennans GitHub' },
        { site: "https://www.linkedin.com/in/patrick-mclennan-42002a172/", path: 'linkedin', alt: 'Patrick McLennans LinkedIn' }
      ]
    }
  }

.footer__legal
  p.footer__copyright= footer.legal.copyright
  p.footer__management= footer.legal.management
//- .footer__social
//-   +socialMedia(socialIcons)
.footer__logo
  h5.logo
    span.logo__p P
    span.logo__m M
  ul.logo__links
    each link in footer.logo.links
      li.logo__li
        a(href= link.site target="_blank")
          svg.logo__svg
            use(xlink:href= 'img/svg/sprite.svg#' + link.path)
