include ../components/mixins

-
  const footer = {
    legal: {
      copyright: 'All work, pictures, music and videos are copyright Hidden Era 2018.  Any unauthorized use or reproduction is a terrible idea.',
      management: 'Hidden Era is managed by Jake Rivers Media Consulting, Inc.'
    }
    logo: {
      p: 'P',
      m: 'M',
      links: [
        { path: 'img/svg/github.svg', alt: 'Patrick McLennens GitHub' },
        { path: 'img/svg/linkedin.svg', alt: 'Patrick McLennens Linked In' },
      ]
    }
  }
