include ../components/mixins

-
  const footer = {
    legal: {
      copyright: 'All work, pictures, music and videos are copyright Hidden Era 2018.  Any unauthorized use or reproduction is a terrible idea.',
      management: 'Hidden Era is managed by Jake Rivers Media Consulting, Inc.'
    },
    logo: {
      links: [
        { site: "https://github.com/PatrickMcLennan", path: 'img/svg/github.svg', alt: 'Patrick McLennans GitHub' },
        { site: "https://www.linkedin.com/in/patrick-mclennan-42002a172/", path: 'img/svg/linkedin.svg', alt: 'Patrick McLennans LinkedIn' }
      ]
    }
  }

- const { legal, logo } = footer

.footer__legal
  p.footer__copyright= legal.copyright
  p.footer__management= legal.management
.footer__social
  +socialMedia(socialIcons)
.footer__logo
  h5.logo
    span.logo__p P
    span.logo__m M
  ul.logo__links
    each link in logo.links
      li.logo__li
        a.logo__link(src= logo.site target="_blank")
          img.logo__img(src= logo.path alt= logo.alt)
