
-
  const header = {
    menu: [
      { url: '#home', text: 'Home' },
      { url: '#dates', text: 'Dates' },
      { url: '#aboutUs', text: 'About Us' },
      { url: '#cart', text: 'Cart' }
    ]
  }


.header__logo
  h1 Hidden Era
include ../components/player
nav.nav
  span.nav__span
  span.nav__span
  span.nav__span
  ul.nav__ul
    each i in header.menu
      li.nav__item
        a.nav__link(href=i.url)= i.text

