
include ../components/mixins
-
  const header = {
    menu: [
      { url: '#home', text: 'Home' },
      { url: '#dates', text: 'Dates' },
      { url: '#aboutUs', text: 'About Us' },
      { url: '#cart', text: 'Cart' }
    ]
  }

- const { menu } = header

.header__logo
  h1 Hidden Era
.social
  include ../components/socialMedia
nav.nav
  nav.nav__button
    img.nav__svg.icon(src="img/svg/menu.svg")
    ul.nav__ul
      +makeMenu(menu)
