-
  const header = {
    logo: { text: "Hidden Era", type: "h1", class: "header__logo" },
    menu: [
      { url: '#home', text: 'Home' },
      { url: '#dates', text: 'Dates' },
      { url: '#aboutUs', text: 'About Us' },
      { url: '#cart', text: 'Cart' }
    ]
  }

.header__logo
  h1 Hidden Era
.header__icons.social__icons
  include ../components/socialMedia
nav.header__nav
