-
  const header = {
    logo: { text: "Hidden Era", type: "h1", class: "header__logo" },
    socialIcons: [
      { path: 'img/svg/facebook.svg', alt: 'Hidden Eras Facebook', class: 'icon icon__social' },
      { path: 'img/svg/instagram.svg', alt: 'Hidden Eras Instagram', class: 'icon icon__social' },
      { path: 'img/svg/youtube.svg', alt: 'Hidden Eras Youtube', class: 'icon icon__social' },
      { path: 'img/svg/snapchat.svg', alt: 'Hidden Eras Snapchat', class: 'icon icon__social' }
    ],
    menu: [
      { url: '#home', text: 'Home' },
      { url: '#dates', text: 'Dates' },
      { url: '#aboutUs', text: 'About Us' },
      { url: '#cart', text: 'Cart' }
    ]
  }

h1 header working

//-     header
//-       .header__logo
//-       .header__icons.social__icons
//-       nav.header__nav
