
-
  const header = {
    menu: [
      { url: '#home', text: 'Home' },
      { url: '#dates', text: 'Dates' },
      { url: '#aboutUs', text: 'About Us' },
      { url: '#cart', text: 'Cart' }
    ]
  }


.header__logo
  h1 Hidden Era
include ../components/player
nav.nav
  span.nav__cartCount.cartCount
  .nav__logo
    span.nav__logo__span
    span.nav__logo__span
    span.nav__logo__span
  ul.nav__ul
    li.nav__item
      a.nav__link(href='#home')= 'Home'
    li.nav__item
      a.nav__link(href='#dates')= 'Dates'
    li.nav__item
      a.nav__link(href='#aboutUs')= 'About Us'
    li.nav__item
      a.nav__link(href='#cart')= 'Cart'
      span.cartCount
