include ./../components/mixins

-
  const home = {
    headingPrimary: ['T', 'H', 'E', ' ', ' ', 'W', 'I', 'L', 'L', ' ', ' ', 'T', 'O', ' ', ' ', 'T', 'O', 'U', 'R'],
    headingSecondary: ['2', '0', '1', '9'],
    links: [
      { text: 'Get Tickets', link: '#dates' },
      { text: 'Get "The Lost Years" on Blu-Ray', link: '#cart' }
    ],
    award: { text: '2 time B.C.H.S Battle of the Bands Runner-Up' },
    reviews: [
      { path: 'img/home/altPress.png', alt: 'Alternative Press\'s Logo', rating: ['star-full', 'star-empty', 'star-empty', 'star-empty', 'star-empty'] },
      { path: 'img/home/pitchfork.png', alt: 'Pitchforks Logo', rating: ['star-half', 'star-empty', 'star-empty', 'star-empty', 'star-empty'] },
      { path: 'img/home/rollingStone.png', alt: 'Rolling Stones Logo', rating: ['star-full', 'star-full', 'star-empty', 'star-empty', 'star-empty'] },
      { path: 'img/home/time.png', alt: 'Time Magazines Logo', rating: ['star-empty', 'star-empty', 'star-empty', 'star-empty', 'star-empty'] },
      { path: 'img/home/billboard.png', alt: 'Billboards Logo', rating: ['star-empty', 'star-empty', 'star-empty', 'star-empty', 'star-empty'] },
      { path: 'img/home/entertaintment.png', alt: 'Entertainment Weekly Logo', rating: ['star-full', 'star-half', 'star-empty', 'star-empty', 'star-empty'] },
      { path: 'img/home/variety.png', alt: 'Variety magazines Logo', rating: ['star-full', 'star-full', 'star-full', 'star-full', 'star-full'] },
      { path: 'img/home/spin.png', alt: 'Variety magazines Logo', rating: ['star-empty', 'star-empty', 'star-empty', 'star-empty', 'star-empty'] },
      { path: 'img/home/soundcloud.png', alt: 'Soundclouds Logo', rating: ['star-half', 'star-empty', 'star-empty', 'star-empty', 'star-empty'] },
      { path: 'img/home/npr.png', alt: 'NPRs Logo', rating: ['star-half', 'star-empty', 'star-empty', 'star-empty', 'star-empty'] },
      { path: 'img/home/amazon.png', alt: 'Amazons Logo', rating: ['star-empty', 'star-empty', 'star-empty', 'star-empty', 'star-empty'] },
    ]
  }

section.home#home

  .home__heading
    h1.home__heading__primary
      +homeHeading(home.headingPrimary)
    .home__span
      span.home__span__element
    h2.home__heading__secondary
      +homeHeading(home.headingSecondary)

  .home__award
    h3.home__award__text= home.award.text

  //- .home__reviews
  //-   .home__reviews__col
  //-     +review(home.reviews)
  //-   .home__reviews__col
  //-     +review(home.reviews.reverse())
