include ./../components/mixins

-
  const home = {
    headingPrimary: ['T', 'H', 'E', ' ', ' ', 'W', 'I', 'L', 'L', ' ', ' ', 'T', 'O', ' ', ' ', 'T', 'O', 'U', 'R'],
    headingSecondary: ['2', '0', '1', '9'],
    links: [
      { text: 'Get Tickets', link: '#dates' },
      { text: 'Get "The Lost Years" on Blu-Ray', link: '#cart' }
    ],
    award: { path: 'img/svg/trophy.svg', text: '2 time BCHS Battle of the Bands Runner-Up' },
    reviews: [
      { path: 'img/home/altPress.png', alt: 'Alternative Press\'s Logo', rating: ['img/svg/star-full.svg', 'img/svg/star-full.svg', 'img/svg/star-full.svg', 'img/svg/star-half.svg', 'img/svg/star-empty.svg'], quote: '...haunting vocals...literally, haunting...', company: ' -- Alternative Press' },
      { path: 'img/home/pitchfork.png', alt: 'Pitchforks Logo', rating: ['img/svg/star-half.svg', 'img/svg/star-empty.svg', 'img/svg/star-empty.svg', 'img/svg/star-empty.svg', 'img/svg/star-empty.svg'], quote: 'lol', company: ' -- Pitchfork' },
      { path: 'img/home/rollingStone.png', alt: 'Rolling Stones Logo', rating: ['img/svg/star-full.svg', 'img/svg/star-full.svg', 'img/svg/star-empty.svg', 'img/svg/star-empty.svg', 'img/svg/star-empty.svg'], quote: '...by god, they\'re really trying...', company: ' -- Rolling Stone' },
      { path: 'img/home/time.png', alt: 'Time Magazines Logo', rating: ['img/svg/star-full.svg', 'img/svg/star-full.svg', 'img/svg/star-full.svg', 'img/svg/star-full.svg', 'img/svg/star-empty.svg'], quote: '...there\'s worse out there...', company: ' -- Time Magazine' },
      { path: 'img/home/billboard.png', alt: 'Billboards Logo', rating: ['img/svg/star-empty.svg', 'img/svg/star-empty.svg', 'img/svg/star-empty.svg', 'img/svg/star-empty.svg', 'img/svg/star-empty.svg'], quote: '...don\'t even have the will to finish this...', company: ' -- Billboard' },
      { path: 'img/home/entertaintment.png', alt: 'Entertainment Weekly Logo', rating: ['img/svg/star-full.svg', 'img/svg/star-half.svg', 'img/svg/star-empty.svg', 'img/svg/star-empty.svg', 'img/svg/star-empty.svg'], quote: '...it\'s been a slow week...', company: ' -- Entertainment Weekly' },
      { path: 'img/home/variety.png', alt: 'Variety magazines Logo', rating: ['img/svg/star-full.svg', 'img/svg/star-full.svg', 'img/svg/star-full.svg', 'img/svg/star-full.svg', 'img/svg/star-full.svg'], quote: '...[best] rock band of the Burlington High School Music scene...', company: ' -- Variety' }
    ]
  }

section.home

  .home__heading
    h1.home__heading__primary
      +homeHeading(home.headingPrimary)
    .home__span
      span.home__span__element
    h2.home__heading__secondary
      +homeHeading(home.headingSecondary)

  .home__award
    figure.home__award__figure
      .home__award__media
        svg.home__award__svg.svg__trophy.svg
          use(xlink:href= 'img/svg/trophy.svg'.trophy)
      .home__award__caption
        h6.home__award__text= home.award.text

  .home__reviews
    .home__reviews__col
      +review(home.reviews)
    .home__reviews__col
      +review(home.reviews.reverse())
